force-app/main/default/flows/so_Store_Order_Create_Item_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_Milk</name>
        <label>Is Milk</label>
        <locationX>734</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>so_AddItem_Add_Another_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Milk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>so_AddItem_Lookup_Inventory_Item.sm_Item_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddItem_Get_Created_Item</targetReference>
            </connector>
            <label>Milk</label>
        </rules>
    </decisions>
    <decisions>
        <name>so_AddItem_Add_Another_Item</name>
        <label>Add Another Item</label>
        <locationX>1011</locationX>
        <locationY>1447</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>so_StoreOrderCreation_AddItem_addAnotherItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>so_Add_Item_to_Order</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>so_AddItem_Initial_Add_Another_Item_Check</name>
        <label>Initial Add Another Item Check</label>
        <locationX>824</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>so_AddItem_Add_Another_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InitialContinue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>so_StoreOrderCreation_AddItem_addAnotherItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>so_AddItem_Lookup_Inventory_Item</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <interviewLabel>Store Order Create Item Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store Order Create Item Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>so_AddItem_Create_Item_For_Order</name>
        <label>Create Item for Order</label>
        <locationX>743</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>Is_Milk</targetReference>
        </connector>
        <inputAssignments>
            <field>sm_Cost__c</field>
            <value>
                <elementReference>so_AddItem_Lookup_Inventory_Item.sm_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Inventory_Item__c</field>
            <value>
                <elementReference>so_AddItem_Lookup_Inventory_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Price__c</field>
            <value>
                <elementReference>so_AddItem_Lookup_Inventory_Item.sm_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Quantity__c</field>
            <value>
                <elementReference>so_AddItem_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Store_Order__c</field>
            <value>
                <elementReference>p_StoreOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>sm_Store_Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>AddItem_Get_Created_Item</name>
        <label>Get Created Item</label>
        <locationX>667</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Bottle_Deposit_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>so_AddItem_Create_Item_For_Order</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sm_Store_Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>so_AddItem_Lookup_Inventory_Item</name>
        <label>Lookup Inventory Item</label>
        <locationX>746</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>so_AddItem_Create_Item_For_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>so_AddITemSelectedInventoryItem.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sm_Inventory_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>so_Add_Item_to_Order</name>
        <label>Add Item to Order</label>
        <locationX>897</locationX>
        <locationY>210</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>so_AddItem_Initial_Add_Another_Item_Check</targetReference>
        </connector>
        <fields>
            <name>so_AddITemSelectedInventoryItem</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>sm_Inventory_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>sm_Store_Order_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>so_AddItemLookupItemReturned</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>so_AddItem_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>so_StoreOrderCreation_AddItem_addAnotherItem</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Add Another Item</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>so_Add_Item_to_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Bottle_Deposit_Subflow</name>
        <label>Add Bottle Deposit Subflow</label>
        <locationX>667</locationX>
        <locationY>1229</locationY>
        <connector>
            <targetReference>so_AddItem_Add_Another_Item</targetReference>
        </connector>
        <flowName>Store_Order_Add_Bottle_Deposit_Subflow</flowName>
        <inputAssignments>
            <name>p_newOrderItem</name>
            <value>
                <elementReference>AddItem_Get_Created_Item</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>p_addAnotherItem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Store Order you are adding a new item to.</description>
        <name>p_StoreOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>sm_Store_Order__c</objectType>
    </variables>
    <variables>
        <name>p_StoreOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>so_AddItemLookupItemReturned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_addAnotherItem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
