force-app/main/default/flows/so_Store_Order_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>so_StoreOrderCreation_Assign_New_Order_Values</name>
        <label>Assign New Order Values</label>
        <locationX>851</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>v_newOrder.sm_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>so_Lookup_Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_newOrder.sm_Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>so_Payment_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>so_StoreOrderCreation_Create_New_Order</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>v_PaymentTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>sm_Payment_Method__c</picklistField>
        <picklistObject>sm_Store_Order__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Store Order Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store Order Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>so_StoreOrderCreation_Create_New_Order</name>
        <label>Create New Order</label>
        <locationX>848</locationX>
        <locationY>667</locationY>
        <connector>
            <targetReference>so_Order_Item_Subflow</targetReference>
        </connector>
        <inputReference>v_newOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_for_Store</name>
        <label>Get Account for Store</label>
        <locationX>849</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>so_Customer_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.CompanyName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>so_Customer_Lookup</name>
        <label>Customer Lookup</label>
        <locationX>849</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>so_StoreOrderCreation_Assign_New_Order_Values</targetReference>
        </connector>
        <fields>
            <name>so_Lookup_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>sm_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>sm_Store_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>v_newStoreCustomerId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>so_Payment_Type</name>
            <choiceReferences>v_PaymentTypeOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>722</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account_for_Store</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>so_Order_Item_Subflow</name>
        <label>Order Item Subflow</label>
        <locationX>849</locationX>
        <locationY>806</locationY>
        <flowName>so_Store_Order_Create_Item_Subflow</flowName>
        <inputAssignments>
            <name>p_StoreOrderId</name>
            <value>
                <elementReference>v_newOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The Primary Account associated with the Users Record</description>
        <name>p_UserAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>v_AddAnotherItem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_newOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>sm_Store_Order__c</objectType>
    </variables>
    <variables>
        <name>v_newStoreCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
