force-app/main/default/flows/Store_Order_Add_Bottle_Deposit_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Is the Ordered Item passed in a half gallon of milk?</description>
        <name>Is_Half_Gallon</name>
        <label>Is Half Gallon</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Quart_Bottle_Deposit_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Half_Gallon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>p_newOrderItem.sm_Inventory_Item__r.sm_Item_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>p_newOrderItem.sm_Inventory_Item__r.sm_Item_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Half Gallon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Half_Gallon_Bottle_Deposit_Item</targetReference>
            </connector>
            <label>Half Gallon</label>
        </rules>
    </decisions>
    <description>This flow is intended to be called whenever the user adds Milk to an order.  It will automatically add the appropriate bottle deposit getting the unit and quantity from the original milk item added to the order.</description>
    <interviewLabel>Store Order Add Bottle Deposit Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store Order Add Bottle Deposit Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Half_Gallon_Bottle_Deposit</name>
        <label>Add Half Gallon Bottle Deposit</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>sm_Cost__c</field>
            <value>
                <elementReference>Get_Half_Gallon_Bottle_Deposit_Item.sm_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Inventory_Item__c</field>
            <value>
                <elementReference>Get_Half_Gallon_Bottle_Deposit_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Price__c</field>
            <value>
                <elementReference>Get_Half_Gallon_Bottle_Deposit_Item.sm_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Quantity__c</field>
            <value>
                <elementReference>p_newOrderItem.sm_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Store_Order__c</field>
            <value>
                <elementReference>p_newOrderItem.sm_Store_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>sm_Store_Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Quart_Bottle_Deposit</name>
        <label>Add Quart Bottle Deposit</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>sm_Cost__c</field>
            <value>
                <elementReference>Get_Quart_Bottle_Deposit_Item.sm_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Inventory_Item__c</field>
            <value>
                <elementReference>Get_Quart_Bottle_Deposit_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Price__c</field>
            <value>
                <elementReference>Get_Quart_Bottle_Deposit_Item.sm_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Quantity__c</field>
            <value>
                <elementReference>p_newOrderItem.sm_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sm_Store_Order__c</field>
            <value>
                <elementReference>p_newOrderItem.sm_Store_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>sm_Store_Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Half_Gallon_Bottle_Deposit_Item</name>
        <label>Get Half Gallon Bottle Deposit Item</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Half_Gallon_Bottle_Deposit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Bottle Deposit</stringValue>
            </value>
        </filters>
        <filters>
            <field>sm_Item_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Milk</stringValue>
            </value>
        </filters>
        <filters>
            <field>sm_Item_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Half Gallon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sm_Inventory_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quart_Bottle_Deposit_Item</name>
        <label>Get Quart Bottle Deposit Item</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Quart_Bottle_Deposit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sm_Item_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Milk</stringValue>
            </value>
        </filters>
        <filters>
            <field>sm_Item_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quart</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Bottle Deposit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sm_Inventory_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Half_Gallon</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Item that is being added to the order by the user.  It will be inspected to determine what Item was added so we know whether to add a deposit for a Half Gallon or Quart and how many of them to add.</description>
        <name>p_newOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>sm_Store_Order_Item__c</objectType>
    </variables>
    <variables>
        <name>v_halfGallonBottleDeposit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sm_Inventory_Item__c</objectType>
    </variables>
    <variables>
        <name>v_quartBottleDeposit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sm_Inventory_Item__c</objectType>
    </variables>
</Flow>
